[submodule "imgui"]
	path = apps/imgui-test/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master

[submodule "SDL"]
	path = apps/imgui-test/sdl
	url = https://github.com/libsdl-org/SDL
	branch = master